:root{
    --main-text-color: #373D40;
    --main-placeholder-color: #B1BFCD;
}

@font-face {
    font-family: "Actor";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/actor-v17-latin-regular.woff2") format("woff2"), 
         url("../fonts/actor-v17-latin-regular.woff") format("woff");
}

body {
    font-family: "Actor", "Arial" sans-serif;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

.container{
    width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero{
    padding: 70px 0;
    background-color: #f2f2f2;
}

.hero-box{
    display: flex;
}

.hero-info-box{
    width: 276px;
    height: 446px;
    display: flex;
    justify-content: center;
    padding-top: 256px;
    padding-bottom: 60px;
    background-color: #FFD500;
    border-radius: 21.25px 0px 0px 21.25px;
    background-image: url("../images/hero-img.svg");
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: top 80px left 78px;
}

.title-box{
    width: 150px;
    text-align: center;
}

.title-box::after{
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 38px;
    margin-right: auto;
    margin-left: auto;
    content: "";
    background-image: url("../images/arrow.svg");

}

.hero-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Actor";
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #383838;
}

.hero-text{
    margin: 0;
    font-family: "Actor";
    font-size: 11px;
    line-height: 14px;
    color: #383838;
}

.hero-form{
    padding: 53px 74px 55px 72px;
    background-color: #fff;
    border-radius: 0px 21.25px 21.25px 0px;
}

.input-box{
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-input{
    width: 190px;
    margin-bottom: 11px;
    padding: 9px 0px 9px 10px;
    font-size: 16px;
    line-height: 9px;
    color: #373D40;
    caret-color: #4A90E2;
    background-color: #F5F8F9;
    border: 0.586985px solid transparent;
    border-radius: 2.64604px;
    outline: none;
}

.hero-input:focus{
    border: 0.586985px solid #CAD7DD;
}

.hero-input::placeholder{
    font-family: "Actor";   
    font-size: 16px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #B1BFCD;
}

.name{
    margin-bottom: 9px;
}

.gender{
    margin-bottom: 10px;
}

.radio-text{
    margin-right: 37px;
    margin-left: 8px;
    margin-bottom: 15px;
    font-family: "Actor";
    font-size: 16px;
    line-height: 9px;
    color: #B1BFCD;
}

.male{
    margin-right: 20px;
}

.radio-box{
    display: flex;
    align-items: center;
}

.hero-label{
    margin-bottom: 10px;
    font-family: "Actor";
    font-size: 16px;
    line-height: 9px;
    color: var(--main-text-color);
}

.tel{
    margin-bottom: 10px;
}

.id-label{
    margin-bottom: 42px;
}

.id{
    margin-bottom: 41px;
}

.membership-text{
    margin-right: 0;
    margin-left: 8px;
    font-size: 16px;
    line-height: 9px;
    color: var(--main-text-color);
}

.gold{
    margin-right: 0;
}

.btn-box{
    display: flex;
}

.btn{
    margin-top: 25px;
    padding: 9px 25px;
    font-size: 16px;
    line-height: 9px;
    color: var(--main-text-color);
    border-radius: 2.64604px;
    border: none;
    outline: none;
}

.btn:focus{
    box-shadow: 0 0 2px 2px #363b3e65;
}

.cancel-button{
    margin-right: 11px;
    margin-left: 78px;
    background-color: #F5F8F9;
}

.save-button{
    background-color: #60E6C5;
}